<div *ngIf="tuong">
    <form [formGroup]="tuongForm">
        <h2>Xem thông tin tướng: {{ tuong.ten }}</h2>
        <div><span>id: </span>{{ tuong.id }}</div>
        <div>
            <label for="">Họ Tên: </label> 
            <input formControlName="ten" type="text" value="{{ tuong.ten }}" #ten/>
        </div>
        <div>
            <label for="">Kĩ năng: </label>
            <!-- <select name="danhSachKyNang" id="" formControlName="kyNang">
                <option *ngFor="let kyNang of danhSachKyNang" [value]="kyNang"> {{kyNang}}</option>
            </select> -->
            <input formControlname="kyNang" type="text" value="{{ tuong.kyNang }}">
        </div>
        <div>
            <label for="">Máu: </label>
            <input formControlName = "mau" type="text" value="{{ tuong.mau }}" >
        </div>
        <div>
            <label for="">Ảnh đại diện: </label> <img src="../../assets/images/{{tuong.anh}}.png" alt="">
        </div>
    </form>    
</div> 

<button (click) = "confirmUpdate(tuongForm.value)">Sửa</button>
<button (click) = "confirmDelete(tuongForm.value)">Xóa</button>