
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div *ngIf="messageService.message.length">
        <div *ngFor='let message of messageService.message' class="messages">
            {{ message }}
        </div>
        <button type="button" class="btn btn-secondary btn-sm" (click)="messageService.clear()">Hủy bỏ thông báo</button>
    </div>
</body>
</html>